@function gradient($rotation, $colors, $stops) {
  $color-count: length($colors);
  $stop-count: length($stops);

  @if $color-count != $stop-count {
    @error 'You supplied #{$color-count} color but #{$stop-count} stops. Please supply an even amount.';
  }

  @each $color in $colors {
    @if type-of($color) != 'color' {
      @error '#{$color} is not a color value.';
    }
  }

  @each $stop in $stops {
    @if type-of($stop) != 'number' {
      @error '#{$stop} is not a number value.';
    }
  }

  $stops: zip($colors, $stops);

  $result: join($rotation, $stops);

  @return linear-gradient($result);
}

@function primary-gradient(
  $rotation: 156deg,
  $colors: (
    get-color(gradient-primary-1), 
    get-color(gradient-primary-2), 
    get-color(gradient-primary-3)
  ),
  $stops: (0%, 56%, 100%)
) {
  @return gradient($rotation, $colors, $stops);
}

@function secondary-gradient(
  $rotation: 148deg,
  $colors: (get-color(gradient-secondary-1), get-color(gradient-secondary-2)),
  $stops: (0%, 100%)
) {
  $grad: gradient($rotation, $colors, $stops);
  // @debug $grad;
  @return $grad;
}

@function card-gradient(
  $rotation: 247deg,
  $colors: (get-color(gradient-card-1), get-color(gradient-card-2)),
  $stops: (4%, 100%)
) {
  @return gradient($rotation, $colors, $stops);
}
