%brand-text {
  font-family: 'Odin Rounded', 'Source Sans Pro', 'Helvetica Neue', Helvetica,
    Arial, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 9.4px;
  color: get-color(primary);
  position: relative;
  top: 2px;
  font-size: rem-calc(25);
}
