$fill-text-selectors: '&, h1, h2, h3, h4, h5, h6, .hollow';

%fill-primary-gradient {
  background: primary-gradient();

  #{$fill-text-selectors} {
    color: $white;
  }
}

%fill-secondary-gradient {
  background: secondary-gradient();

  #{$fill-text-selectors} {
    color: $white;
  }
}

%fill-card-gradient {
  background: card-gradient();

  #{$fill-text-selectors} {
    color: $black;
  }
}
