@mixin modal() {
  padding: $global-padding;
  display: flex !important;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  width: 100%;

  &-frame {
    position: relative;
    margin: 0;
    background: $white;
    padding: $global-padding;
    box-shadow: $card-shadow;
    border-radius: $global-radius;

    @include breakpoint(small) {
      padding: 0;
    }

    @include breakpoint(medium) {
      padding: 0;
    }
  }

  &-title {
    margin-top: $global-padding * 2;
    margin-bottom: $global-padding * 2;
    text-align: center;
  }

  &-close-button {
    height: 45px;
    width: 45px;
    top: $global-padding;
    right: $global-padding !important;
    color: get-color(stroke-button);
    background: $white;
    border: solid 3px get-color(stroke-button);
    border-radius: 50%;
    box-shadow: $card-shadow;
    transition: transform 0.3s ease-in;

    &:hover {
      color: get-color(stroke-button);
      transform: scale(1.03);
    }
  }
}
