@mixin position-absolute($args...) {
  position: absolute;

  $length: length($args);

  @if $length == 0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  } @else if $length == 1 {
    top: nth($args, 1);
    right: nth($args, 1);
    bottom: nth($args, 1);
    left: nth($args, 1);
  } @else if $length == 2 {
    top: nth($args, 1);
    right: nth($args, 2);
    bottom: nth($args, 1);
    left: nth($args, 2);
  } @else if $length == 3 {
    top: nth($args, 1);
    right: nth($args, 2);
    bottom: nth($args, 3);
    left: nth($args, 2);
  } @else if $length == 4 {
    top: nth($args, 1);
    right: nth($args, 2);
    bottom: nth($args, 3);
    left: nth($args, 4);
  } @else {
    @error "Maximu of 4 arguments allowed.";
  }
}
