@mixin callout() {
  margin-bottom: $global-padding;
  display: flex;
  justify-content: center;

  &__frame {
    @extend %fill-primary-gradient;
    padding: $global-padding * 2;
    margin: 0 $global-padding * 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    border-radius: $global-radius;
    box-shadow: $card-shadow;
    margin-bottom: $global-padding;
    max-width: 345px;
    margin: 0 auto;

    @include breakpoint(small) {
      width: 100%;
      max-width: $global-width;
      margin: 0 $global-padding * 2;
    }

    @include breakpoint(medium) {
      align-items: center;
    }

    @include breakpoint(large) {
      flex-direction: row;
      justify-content: space-around;
      padding: $global-padding * 4 $global-padding * 2;
    }

    @include breakpoint(xlarge) {
      max-width: $global-width - ($global-padding * 2);
    }
  }

  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    @include breakpoint(medium) {
      max-width: 480px;
      flex: 1 1 auto;
    }

    @include breakpoint(large) {
      max-width: 50%;
      margin: 0;
      align-items: flex-start;
    }
  }

  &__title {
    font-size: rem-calc(22);
    text-align: center;
    margin-bottom: $global-padding * 1;

    @include breakpoint(large) {
      text-align: left;
      margin-bottom: $global-padding * 2;
    }
  }

  &__body {
    font-size: rem-calc(16);
    margin-bottom: $global-padding * 2;

    @include breakpoint(medium) {
      text-align: center;
      margin-bottom: 0;
    }

    @include breakpoint(large) {
      text-align: left;
      font-size: rem-calc(18);
      max-width: 390px;

      > * {
        margin-bottom: 0;
      }
    }

    @include breakpoint(xlarge) {
      max-width: unset;
      margin-right: $global-padding * 2;
    }
  }

  &__buttons {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    font-size: rem-calc(20);
    position: relative;
    z-index: 1;

    @include breakpoint(medium) {
      flex-direction: row;
      justify-content: center;
    }

    > *:not(:last-child) {
      margin-right: 0;
      margin-bottom: $global-padding * 2;

      @include breakpoint(medium) {
        margin-top: $global-padding;
        margin-right: $global-padding * 2;
        margin-bottom: $global-padding;
      }

      @include breakpoint(large) {
        margin-right: $global-padding * 3;
      }
    }
  }
}
