.fancy-button {
  $border-width: 3px;
  $button-height: 50px - ($border-width * 2);
  $button-icon-size-difference: 10px + ($border-width * 2);
  $icon-size: $button-height + $border-width + $button-icon-size-difference;

  cursor: pointer;
  align-items: center;
  background-color: $white;
  color: get-color(primary);
  display: inline-flex;
  padding: 0 $global-padding * 2;
  padding-left: rem-calc($icon-size / 2) + rem-calc($border-width * 2) + ($global-padding *
        0.75);
  white-space: nowrap;
  border-radius: 0;
  font-size: rem-calc(20);
  height: $button-height;
  position: relative;
  margin-left: ($icon-size / 2);
  margin-right: $border-width;

  &.inverse {
    background-color: get-color(stroke-button);
    color: $white;
    background-image: secondary-gradient();
  }

  &__parent {
    transition: transform 0.3s ease-out;

    &.chat {
      display: none;
    }

    &:hover {
      transform: scale(1.03);
    }
  }

  &:before {
    content: '';
    box-shadow: $card-shadow;
    position: absolute;
    background: secondary-gradient();
    border-radius: $global-radius;
    top: -$border-width;
    left: -$border-width;
    right: -$border-width;
    bottom: -$border-width;
    z-index: -1;
  }

  &__phoneNumber {
    @include show-for(large);
  }

  &__call-cta {
    @include hide-for(large);
  }

  &__icon {
    border-radius: 50%;
    position: absolute;
    top: -$button-icon-size-difference / 2 - ($border-width / 2);
    left: -$icon-size / 2;
    width: $icon-size;
    height: $icon-size;
    background: secondary-gradient();
    display: flex;
    justify-content: center;
    align-items: center;

    &:before {
      content: '';
      position: absolute;
      top: $border-width;
      left: $border-width;
      right: $border-width;
      bottom: $border-width;
      background: $white;
      border-radius: 50%;
    }

    > img {
      z-index: 10;
    }
  }

  &__floating {
    @include show-for(large);

    position: fixed;
    bottom: $global-padding * 3;
    right: $global-padding * 3;
    z-index: 5000;
    overflow: visible;
  }
}
