$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-color: get-color(primary);

@import '../../../../node_modules/hamburgers/_sass/hamburgers/hamburgers';

.header-bar {
  background-color: $white;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  box-shadow: $card-shadow;

  &__banner-cta {
    @include hide-for(large);
    //background: secondary-gradient();
	background: #0f915e;
    display: flex;
    justify-content: space-around;
    //padding: $global-padding / 2;

    @include breakpoint(medium) {
      justify-content: center;
      > *:not(:last-child) {
        //margin-right: $global-padding * 4;
      }
    }

    &-button {
      @extend .h3;
      color: $white;
      margin-bottom: 0;
	  width: 50%;
	  text-align: center;
	  padding: $global-padding / 2;
	  border-radius: 0;
	  //background: get-color(gradient-secondary-3);

      &--notReady {
        @include show-for(medium);
        font-weight: $global-weight-normal;
		background: get-color(gradient-secondary-1);
		border-left: 3px solid get-color(gradient-secondary-3);

        span{
          text-decoration: underline;
        }//end span
      }//end notReady

      &--liveChat {
        @include hide-for(medium);
        font-weight: $global-weight-normal;
		background: get-color(gradient-secondary-1);
		position: relative;
		border-right: 3px solid get-color(gradient-secondary-3);
		  @include breakpoint(small only){
			    &::after {
			  content: '';
			  position: absolute;
			  bottom: 8px;
			  max-width: 80px;
			  left: 0;
			  right: 0;
			  margin: auto;
			  top: auto;
			  background: $white;
			  height: 1px;
		  }///end after 
		  }///end small 
		
      }
    }
  }

  &__title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 0 $global-padding * 2;
  }

  &__title-bar-title {
    @extend %brand-text;
    margin-bottom: 0;
  }

  &__menu {
    align-items: center;

    &-icon {
    }

    &-item {
      font-size: rem-calc(22);
      font-weight: $global-weight-normal;
      width: 100%;
      text-align: center;
      padding: $global-padding;
      margin-bottom: 0;
      transition: opacity 0.3s ease-in;

      &:hover {
        opacity: 0.5;
      }

      &:not(:last-child) {
        border-bottom: 1px solid $light-gray;
        @include breakpoint(large) {
          border-bottom: none;
        }
      }

      @media screen and (max-height: 500px) {
        padding-top: $global-padding / 2;
        padding-bottom: $global-padding / 2;
      }

      @include breakpoint(large) {
        width: auto;
        margin-top: $global-padding * 2;
        margin-bottom: $global-padding * 2;
        margin-right: $global-padding * 3;
        padding: 0;

        &:last-child {
          margin-right: $global-padding;
        }
      }

      > a {
        margin: 0;
        padding: 0;
      }

      &--phone {
        display: none;

        @include breakpoint(large) {
          display: block;
        }

        * {
          font-weight: $global-weight-bold;
          background: secondary-gradient();
          color: $white;
          padding: $global-padding;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;

          &:hover {
            color: $white;
          }
        }
      }
    }

    &-text {
      @extend .h1;
      @extend %brand-text;
      @include show-for(large);
      margin-bottom: 0;
    }
  }

  &__top-bar {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint(large) {
      flex-direction: row;
    }

    &.top-bar > * {
      flex: 0 0 auto !important;
    }

    &-right {
      width: 100%;

      @include breakpoint(large) {
        width: auto;
      }
    }

    &-title {
      margin-bottom: 0;
    }

    &-container {
      @include breakpoint(large) {
        @include xy-grid-container();
      }
    }
  }

  &__mobile-cta {
    @extend %fill-primary-gradient;
    @include hide-for(large);
    width: 100%;
    padding: $global-padding * 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;

    &-buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      z-index: 1;

      > * {
        margin-top: $global-padding * 2;
      }

      @media screen and (max-height: 640px) {
        flex-direction: row;
        > *:not(:last-child) {
          margin-right: $global-padding * 2;
        }
      }

      @include breakpoint(medium) {
        flex-direction: row;
        > *:not(:last-child) {
          margin-right: $global-padding * 2;
        }
      }
    }

    &-phone {
      &--phoneNumber {
        @include show-for-only(small);
      }

      &--callUs {
        @include show-for(medium);
      }
    }
  }
}
