@mixin hero-card(
  $background-color: $white,
  $overlap-parent: $global-padding * 6
) {
  background-color: $background-color;
  overflow: visible;

  @include breakpoint(large) {
    margin-top: $overlap-parent + ($global-padding * 4);
    margin-bottom: -$overlap-parent;
  }

  &__frame {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;

    @include breakpoint(large) {
      max-width: $global-width;
      margin: 0 auto;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 $global-padding * 2;
      position: relative;
      top: -$overlap-parent;
    }
  }

  &-card {
    $image-height: rem-calc(260);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: $global-padding * 2;
    position: relative;

    @include breakpoint(small) {
      margin-bottom: $global-padding * 4;
    }

    @include breakpoint(large) {
      flex: 0 1 auto;

      &:nth-child(2n + 1) {
        margin-right: $global-padding * 2;
      }
    }

    &__image-frame {
      overflow: hidden;
      height: 100%;
      max-height: $image-height;

      @include breakpoint(small) {
        height: 260px;
        box-shadow: $card-shadow;
      }
    }

    &__image {
      width: auto;
      height: 100%;
      object-fit: cover;

      @include breakpoint(small) {
        object-position: center;
      }

      @include breakpoint(large) {
        height: 100%;
      }
    }

    &__section {
      background: get-color(background-light);
      padding: $global-padding * 2;
      margin: - ($image-height - rem-calc(80)) $global-padding 0;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: space-between;
      box-shadow: $card-shadow;
      border-radius: $global-radius;

      & > *:not(:last-child) {
        margin-bottom: $global-padding * 1.5;
      }

      @include breakpoint(small) {
        max-width: 700px;
        padding: $global-padding * 3;

        & > *:not(:last-child) {
          margin-bottom: $global-padding * 2;
        }
      }

      @include breakpoint(large) {
        margin-left: $global-padding * 2;
        margin-right: $global-padding * 2;
        justify-content: flex-start;
      }
    }

    &__title {
      font-size: rem-calc(22);
      margin-bottom: $global-padding * 2;
    }

    &__content {
      color: get-color(primary);
      max-width: 100%;

      > *:last-child {
        margin-bottom: 0;
      }

      @include breakpoint(large) {
        font-size: rem-calc(18);
      }
    }

    &__button {
      $border-width: 3px;
      $button-width: 180px - ($border-width * 2);
      $button-height: 50px - ($border-width * 2);

      background-color: $white;
      border-radius: 0;
      color: get-color(primary);
      cursor: pointer;
      font-size: rem-calc(20);
      height: $button-height;
      margin: $border-width;
      position: relative;
      width: $button-width;
      z-index: 0;
      transition: transform 0.3s ease-in;

      &:hover {
        transform: scale(1.03);
      }

      > * {
        align-items: center;
        display: inline-flex;
        justify-content: center;
        height: 100%;
        width: 100%;
        background: $white;
      }

      &:before {
        content: '';
        box-shadow: $card-shadow;
        position: absolute;
        background: secondary-gradient();
        border-radius: $global-radius;
        top: -$border-width;
        left: -$border-width;
        right: -$border-width;
        bottom: -$border-width;
        z-index: -1;
      }

      @include breakpoint(large) {
        margin-top: auto;
      }
    }
  }

  &__modal {
    @include modal();
  }
}
