/**
 * Use this function to create a selector that clobbers LiveHelpNow's
 * built-in styles.
 */
@mixin clobber($class, $combination-style: nest, $specifiers: 3, $prefix: '#lhnHelpOutCenter') {
  $class: '.' + $class;
  $clobber-class: $class;

  @for $i from 1 to $specifiers {
    $clobber-class: selector-append($clobber-class, $class);
  }

  @if $combination-style == nest {
    #{selector-nest($prefix, $clobber-class)} {
      @content;
    }
  } @else if $combination-style == append {
    #{selector-append($prefix, $clobber-class)} {
      @content;
    }
  }
}

@include clobber(lhnWindow, append) {
  box-shadow: $card-shadow;
  min-width: 375px;
  overflow: hidden;

  form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}

@include clobber(lhnWindow-header) {
  box-shadow: $card-shadow;
  background-color: $white;
  color: get-color(primary);
  padding: 24px $global-padding * 2;
  max-height: unset;
  position: relative;
}

@include clobber(lhnWindow-header-text) {
  * {
    letter-spacing: unset;
    text-transform: unset;
  }

  h4 {
    font-weight: $global-weight-normal;
    font-size: 16px;
    display: flex;
    align-items: center;

    .lhnAgentStatus {
      margin-right: 10px;
    }
  }
}

@include clobber(lhnWindow-header-controls) {
}

@include clobber(lhnWindow-header-minimizer) {
  width: unset;

  img {
    display: none;
  }

  &:before {
    content: '';
    display: inline-block;
    height: 3px;
    width: 23px;
    background-color: get-color(primary);
    border-radius: 2px;
  }
}

@include clobber(lhnWindow-header-closer) {
  width: 23px;
  position: relative;
  transform: rotate(45deg);

  img {
    display: none;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 3px;
    left: 0;
    bottom: 0;
    display: block;
    height: 3px;
    background-color: get-color(primary);
  }

  &:after {
    transform: rotate(90deg);
  }
}

@include clobber(lhnWindow-body) {
  color: get-color(primary);
  font-size: $global-font-size;
}

@include clobber(lhnFields) {
  width: 100%;
}

@include clobber(lhnField) {
}

@include clobber(lhnNot-valid) {
  & .lhnLabel:after {
    content: 'Field is missing or invalid';
    display: block;
    float: right;
    color: get-color(alert);
    font-style: italic;
  }
}

@include clobber(lhnLabel) {
  letter-spacing: unset;
  text-transform: unset;
  font-weight: $global-weight-normal;
  margin-bottom: $global-padding;
}

@include clobber(lhnFieldInput) {
}

@include clobber(lhnInput) {
  border: 3px solid get-color(stroke-button);
  color: get-color(primary);
  background-color: $white;
}

@include clobber(lhnFormButton) {
  letter-spacing: unset;
  text-transform: unset;
  text-shadow: unset;
  height: unset;
  border: 3px solid get-color(stroke-button);
  font-weight: $global-weight-normal;
  font-size: 20px;

  &,
  &.closechat {
    color: get-color(primary);
    background-color: $white;
  }
}

@include clobber(lhnSubmit) {
  float: unset;
  box-shadow: $card-shadow;
  margin-top: $global-padding;
}

@include clobber(lhnWaitTime) {
  margin-bottom: $global-padding;
  text-align: center;
}

@include clobber(lhnWindow-footer) {
  display: none !important;
}

@include clobber(lhnWindow-message) {
  font-size: $global-font-size;
}

@include clobber(lhnSystemMessage) {
  .lhnWindow-message {
    color: get-color(chat-dim-text);
  }
}

@include clobber(lhnOperatorMessage) {
  .lhnWindow-message {
    color: get-color(chat-operator-text);
    background-color: get-color(chat-operator-background);

    &:after {
      border-color: transparent transparent get-color(chat-operator-background)
        transparent;
    }
  }
}

@include clobber(lhnCustomerMessage) {
  .lhnWindow-message {
    color: get-color(chat-customer-text);
    background-color: get-color(chat-customer-background);

    &:after {
      border-color: transparent transparent transparent
        get-color(chat-customer-background);
    }
  }
}

@include clobber(lhnChatActionsMenu) {
  display: none;
}

@include clobber(lhnWindow-chat_input) {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    overflow: visible;
  }
}

@include clobber(lhnInput-chat_input-textareasection) {
  height: 100%;
  width: auto;
  margin: 0;
  flex-shrink: 1;
  flex-basis: 100%;
  flex-grow: 1;

  textarea {
    box-shadow: unset;
    height: 100%;
  }
}

@include clobber(lhnInput-chat_input-buttons) {
  width: auto;
  height: auto;
  overflow: visible;
  float: unset;
  flex-shrink: 0;
}

@include clobber(lhnSendButton) {
  visibility: unset;
  opacity: unset;
  transform: unset;
  text-shadow: unset;
  text-transform: unset;
  letter-spacing: unset;
  line-height: unset;
  margin-right: $global-padding;
  font-weight: $global-weight-normal;
  font-size: 20px;
  height: auto;
  width: auto;
  background-color: $white;
  color: get-color(primary);
  border: 3px solid get-color(stroke-button);
  border-radius: $global-radius;
  padding: $global-padding / 2 $global-padding;
}

@include clobber(lhnChat) {
  margin-bottom: 30px;
}

@include clobber(sms) {
  width: unset;
  height: unset;
  background-color: $white;
  top: 0;
  left: 0;
  right: 0;
  padding: $global-padding * 2;
  box-shadow: $card-shadow;
  border-radius: $global-radius;

  .lhnPromptButtons {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  .lhnFormButton {
    padding: $global-padding / 3 $global-padding;
    color: get-color(primary);

    &:not(:last-child) {
      margin-bottom: $global-padding * 2;
    }
  }
}

@include clobber(closechat) {
  width: unset;
  height: unset;
  background-color: $white;
  top: 0;
  left: 0;
  right: 0;
  padding: $global-padding * 2;
  box-shadow: $card-shadow;
  border-radius: $global-radius;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;

  &,
  .lhnPromptMsg {
    font-size: $global-font-size;
    flex: 1 0 100%;
    height: auto;
  }

  .lhnPromptMsg {
    display: block;
    padding: 0 $global-padding $global-padding;
  }

  .lhnPromptButtons {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex: 0 1 100%;
  }

  .lhnFormButton {
    padding: ($global-padding / 5) $global-padding;
    box-shadow: $card-shadow;
    flex: 1 1 50%;
    text-align: center;
    display: inline-block;
  }
}

@include clobber(lhnPromptOverlay) {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: -100px;
  bottom: -100px;
  left: -100px;
  right: -100px;
}
