<div class="fancy-button__parent {{#if chat}}chat{{/if}} {{#if phone}}phone{{/if}}">
  {{#if phone
        }}
    <a href="tel:{{@root.site.phone}}"
       class="fancy-button {{#if inverse}}inverse{{/if}}"
       type="button"
       onClick="fbq('track', 'Lead', {
    content_name: 'Skywood Recovery PPC', 
    content_category: 'Landing Pages',
    content_type: 'Phone Clicks'
  });"
       data-ga-event
       data-ga-category="Phone Numbers"
       data-ga-action="Phone Clicks"
       data-ga-label="{{#if ga-label}}{{ga-label}}{{else}}{{@root.site.phone}}{{/if}}">
      <span class="fancy-button__icon">
        <img src="assets/img/icon/Phone.svg" />
      </span>
      <span class="fancy-button__call-cta">Call Us</span>
      <span class="fancy-button__phoneNumber dynamic-phone-number">{{@root.site.phone}}</span>
    </a>
  {{/if}}

  {{#if chat
        }}
    <button class="fancy-button {{#if inverse}}inverse{{/if}}"
            type="button"
            data-chat
            data-ga-event
            data-ga-category="Live Chat"
            data-ga-action="Chat Button"
            data-ga-label="{{ga-label}}">
      <span class="fancy-button__icon">
        <img src="assets/img/icon/Chat.svg" />
      </span>
      {{#if text}} {{text}} {{else}}Live Chat {{/if}}
    </button>
  {{/if}}
</div>
