<section class="{{id}}"
         id="{{id}}">
  <div class="{{id}}__frame">
    <div class="{{id}}__content">
      <h2 class="{{id}}__title">{{title}}</h2>
      <div class="{{id}}__body">
        {{#markdown}}{{content}}{{/markdown}}
      </div>
    </div>
    <div class="{{id}}__buttons">
      {{> component__fancy-button phone="true" ga-category="Phone Numbers" ga-label="Phone Clicks Callout"}}
      {{> component__fancy-button chat="true" ga-category="Live Chat" ga-label="Live Chat Callout"}}
    </div>
  </div>
</section>
