{{#*inline "content"}}
  <div class="{{id}}"
       id="{{id}}"
       data-smooth-scroll>
    <div class="{{id}}__banner-cta">
      <button class="{{id}}__banner-cta-button {{id}}__banner-cta-button--liveChat"
              type="button"
              data-ga-event
              data-chat
              data-ga-category="Live Chat"
              data-ga-action="Chat Button"
              data-ga-label="Live Chat Mobile-TopBar">Live Chat</button>
      <a href="tel:{{@root.site.phone}}"
         class="{{id}}__banner-cta-button {{id}}__banner-cta-button--phoneNumber"
         type="button"
         data-ga-event
         data-ga-category="Phone Numbers"
         data-ga-action="Phone Clicks"
         data-ga-label="Phone Clicks Mobile-TopBar">{{site.phone}}</a>
      <button class="{{id}}__banner-cta-button {{id}}__banner-cta-button--notReady"
              type="button"
              data-chat
              data-ga-event
              data-ga-category="Live Chat"
              data-ga-action="Chat Button"
              data-ga-label="Live Chat NotReadToCall">Not Ready to Call? Try <span>Live Chat</span></button>
    </div>
    <nav id="{{id}}-mobile-menu"
         class="{{id}}__title-bar"
         data-responsive-toggle="{{id}}__responsive-menu"
         data-hide-for="large">
      <div class="{{id}}__title-bar-title">
        <a href="#home-hero"
           data-ga-event
           data-ga-category="{{id}}"
           data-ga-action="navigate"
           data-ga-label="home">{{site.title}}</a>
      </div>
      <button id="{{id}}__hamburger"
              class="{{id}}__menu-icon hamburger hamburger--squeeze"
              type="button"
              data-toggle="{{id}}__responsive-menu"
              data-ga-event
              data-ga-category="{{id}}"
              data-ga-action="navigate"
              data-ga-label="open mobile menu">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
      </button>
    </nav>
    <div class="{{id}}__top-bar-container">
      <nav id="{{id}}__responsive-menu"
           class="top-bar {{id}}__top-bar">
        <div class="top-bar-left {{id}}__top-bar-left">
          <ul class="menu {{id}}__menu">
            <li class="{{id}}__menu-text">
              <a href="#home-hero"
                 data-ga-event
                 data-ga-category="{{id}}"
                 data-ga-action="navigate"
                 data-ga-label="home">{{site.title}}</a>
            </li>
          </ul>
        </div>
        <div class="top-bar-right {{id}}__top-bar-right">
          <ul class="menu {{id}}__menu">
            {{#each site.header.links}}
              <li class="{{../id}}__menu-item">
                <a href="{{url}}"
                   data-ga-event
                   data-ga-category="{{../id}}"
                   data-ga-action="navigate"
                   data-ga-label="{{text}}">{{text}}</a>
              </li>
            {{/each}}
            <li class="{{id}}__menu-item {{id}}__menu-item--phone">
              <a href="tel:{{site.phone}}"
                 class="dynamic-phone-number"
                 data-ga-event
                 data-ga-category="Phone Numbers"
                 data-ga-action="Phone Clicks"
                 data-ga-label="Phone Clicks Navigation">{{site.phone}}</a>
            </li>
          </ul>
        </div>
        <div class="{{id}}__mobile-cta">
          <h2>We're Here To Help</h2>
          <div class="{{id}}__mobile-cta-buttons">
            {{>component__fancy-button phone=true ga-category="Phone Numbers" ga-label="Phone Clicks Mobile-CTA"}}
            {{>component__fancy-button chat=true ga-category="Live Chat" ga-label="Live Chat Mobile-CTA"}}
          </div>
        </div>
      </nav>
    </div>
  </div>
  {{/inline}}

  {{>content id="header-bar"}}
