<section class="{{id}}"
         id="{{id}}"
         data-equalizer
         data-equalize-on="medium">
  <div class="{{id}}__frame">
    {{#each items}}
      <section id="{{../id}}-card-{{@index}}"
               class="{{../id}}-card">
        <div class="{{../id}}-card__image-frame">
          <img class="{{../id}}-card__image"
               data-interchange="{{#each @root.site.imgSizes}}[{{root}}{{../image.path}}{{../image.filename}}-{{this}}.{{../image.extension}}, {{this}}],{{/each}}"
          />
        </div>
        <div class="{{../id}}-card__section"
             data-equalizer-watch>
          <h3 class="{{../id}}-card__title">{{title}}</h3>
          <div class="{{../id}}-card__content">
            {{#markdown}} {{content}} {{/markdown}}
          </div>
          {{#each buttons}}
            <button id="{{../../id}}-button-{{@index}}"
                    class="{{../../id}}-card__button"
                    data-open="{{../../id}}-{{@../index}}"
                    data-ga-event
                    data-ga-category="{{../../id}}"
                    data-ga-action="open modal"
                    data-ga-label="{{../title}}">
              <span>Learn More</span>
            </button>
          {{/each}}
        </div>
      </section>
    {{/each}}
  </div>
</section>
{{#each items}}
  {{#if modal}}
    <div class="{{../id}}__modal reveal"
         data-reveal
         id="{{../id}}-{{@index}}">
      <div class="{{../id}}__modal-frame">
        <div class="{{../id}}__modal-content">
          <h4 class="{{../id}}__modal-title">{{title}}</h4>
          <div class="{{../id}}__modal-body">
            {{#markdown}} {{ modal.content}} {{/markdown}}
          </div>
          <button class="{{../id}}__modal-close-button close-button"
                  data-close
                  aria-label="Close modal ">
            <span aria-hidden>&times;</span>
          </button>
        </div>
      </div>
    </div>
  {{/if}}
{{/each}}
