{{#*inline "content"}}
  <section id="{{id}}"
           class="{{id}}">
    <div class="{{id}}__frame">
      <div class="{{id}}__content">
        <h2 class="{{id}}__title">We are Here to Help</h2>
        <div class="{{id}}__body">
          <p>
            Skywood is part of the Foundations Recovery Network family of treatment centers,
            and we practice FRN’s evidence-based, time-tested methods of treatment.
          </p>
          <div class="{{id}}__buttons">
            <a class="{{id}}__button--bigPhone dynamic-phone-number"
               href="tel:{{@root.site.phone}}"
               data-ga-event
               data-ga-category="Phone Numbers"
               data-ga-action="Phone Clicks"
               data-ga-label="Phone Clicks Footer">{{@root.site.phone}}</a>
            {{>component__fancy-button chat=true ga-category="Live Chat" ga-label="Live Chat Footer"}}
          </div>
        </div>
      </div>
      <div class="privacy-policy">
          Copyright © 2018 Skywood Recovery. All Rights Reserved. | Confidential and Private Call: {{@root.site.phone}} | <a href="https://skywoodrecovery.com/wp-content/plugins/frn_plugins/privacy-policy.pdf">Privacy Policy</a>
        </div>{{!--/.privacy-policy--}}
  </section>
  {{/inline}}

  {{> content id="we-are-here-to-help"}}
