{{#*inline "content"
           }}
  <section id="{{id}}"
           class="{{id}}">
    <div class="{{id}}__frame">
      <div class="{{id}}__content">
        <h2 class="{{id}}__title">
          Everyone has the ability to recover from addiction and mental health issues
        </h2>
        <div class="{{id}}__body">
          <p>
            At Skywood Recovery Center, a residential treatment facility under the skies of Augusta,
            Michigan, we can help you rediscover your authentic self in recovery.
          </p>
        </div>
        <div class="{{id}}__buttons">
          {{> component__fancy-button phone=true ga-category="Phone Numbers" ga-label="Phone Clicks Billboard"}}
          {{> component__fancy-button chat=true ga-category="Live Chat" ga-label="Live Chat Billboard"}}
        </div>
      </div>
      <div class="{{id}}__banner-image-container">
        <img class="{{id}}__banner-image"
             data-interchange="{{#each site.imgSizes}}[{{root}}{{../img}}-{{this}}.{{../ext}}, {{this}}],{{/each}}"
        />
      </div>
    </div>
  </section>
  {{/inline}}

  {{> content id="home-hero" img="assets/img/back-porch-at-night" ext="jpg"}}
