{{#*inline "content"}}
  <section class="{{id}}"
           id="{{id}}">
    <div class="{{id}}__frame">
      <div id="{{id}}-slider"
           class="{{id}}__slider">
        {{#each our-mission-images}}
          <img alt="{{alt}}"
               data-interchange="{{#each @root.site.imgSizes}}[assets/img/our-mission-slider/{{../filename}}-{{this}}.{{../extension}}, {{this}}],{{/each}}"
          />
        {{/each}}
      </div>
      <div class="{{id}}__content">
        <h3 class="{{id}}__title">Our Mission</h3>
        <div class="{{id}}__body">
          <p>
            Skywood is an extraordinary place that fosters healing through our staff, peer support
            and a restorative environment. Our purpose is to create lifetime relationships
            for long-term recovery. You aren’t just experiencing rehab and treatment
            at Skywood; you’re developing the skills and relationships you need to
            propel you into a brand new life. Establishing this new life is also
            about finding ways to sustain it long past your days at the facility,
            and that is our mission at Skywood.
          </p>
        </div>
      </div>
    </div>
  </section>
  {{/inline}}

  {{> content id="our-mission"}}
