{{#*inline "content"}}
  <section id="{{id}}"
           class="{{id}}">
    <div class="{{id}}__frame">
      <div class="{{id}}__content">
        <h2 class="{{id}}__title">Location</h2>
        <div class="{{id}}__body">
          <p>
            At Skywood, we have a beautiful property comprised of woodlands, fields and ponds.
            We have a lot of fresh air, tall trees and waving grasses. We relish
            the outdoors, and we believe our surroundings have a restorative effect
            on the people who come here.
          </p>
          <address class="{{id}}__address"
                   itemscope
                   itemtype="http://schema.org/Organization">
            <span class="{{id}}__name"
                  itemprop="name">Skywood Recovery</span>
            <span itemscope
                  itemtype="http://schema.org/PostalAddress">
              <span class="{{id}}__street-address"
                    itemprop="streetAddress">10499 North 48th St</span>
              <span>
                <span class="{{id}}__locality"
                      itemprop="addressLocality">Augusta</span>,
                <span class="{{id}}__region"
                      itemprop="addressRegion">MI</span>
                <span class="{{id}}__postal-code"
                      itemprop="postalCode">49012</span>
              </span>
            </span>
          </address>
        </div>
      </div>
      <div class="{{id}}__map"
           data-map
           data-map-lat="42.415163"
           data-map-lng="-85.300360"
           data-map-zoom="12"
           data-map-marker-url="assets/img/icon/Pin.svg"
           data-map-marker-label="Skywood Recovery"></div>
      <div class="{{id}}__banner-image">
        <img data-interchange="{{#each @root.site.imgSizes}}[assets/img/front-entry-banner-{{this}}.jpg, {{this}}], {{/each}}"
        />
      </div>
    </div>
  </section>
  {{/inline}}

  {{> content id="location-information"}}
