{{#*inline "content"}}
  <section class="{{id}}"
           id="{{id}}">
    <div class="{{id}}__container"
         data-equalizer
         data-equalize-on="small">
      {{#each program-cards}}
        <section class="{{../id}}__item"
                 data-ga-event
                 data-ga-category="{{../id}}"
                 data-ga-action="open modal"
                 data-ga-label="{{title}}"
                 data-equalizer-watch
                 data-open="{{../id}}-{{@index}}">
          <div class="{{../id}}__content">
            <h3 class="{{../id}}__title">{{title}}</h3>
            <button class="{{../id}}__button">Learn More</button>
          </div>
        </section>
      {{/each}}
    </div>
  </section>

  {{#each program-cards}}
    <section class="{{../id}}__modal reveal"
             id="{{../id}}-{{@index}}"
             data-reveal>
      <div class="{{../id}}__modal-frame">
        <div class="{{../id}}__modal-content">
          <h4 class="{{../id}}__modal-title">{{title}}</h4>
          <div class="{{../id}}__modal-body">
            {{#markdown}}{{content}}{{/markdown}}
          </div>
          <button class="close-button {{../id}}__modal-close-button"
                  data-close
                  aria-label="close modal"
                  type="button">
            <span aria-hidden>&times;</span>
          </button>
        </div>
      </div>
    </section>
  {{/each}}

  {{/inline}}

  {{> content id="program-cards"}}
