{{#*inline "content"}}
  <section class="{{id}}" id="{{id}}">
    <div class="{{id}}__content">
      <h2 class="{{id}}__title">What To Expect When You Call</h2>
      <p>
        Asking for help is an important starting point of your recovery. To help ease any
        concerns about the initial phone call, our coordinators will guide you through
        a free, confidential assessment. After reviewing your assessment and your
        insurance information, our experienced staff will determine the most appropriate
        level of care for you or your loved one.
      </p>
      <h3 class="{{id}}__lead">Here’s a few sample questions you can expect to cover:</h3>
      <ul class="{{id}}__list">
        <li>What current issues prompted your call today?</li>
        <li>Does the individual have any previous treatment history?</li>
        <li>Does the individual have a co-occurring disorder (mental health + substance
          abuse)?
        </li>
        <li>Does the individual have an insurance policy to cover treatment?</li>
      </ul>
    </div>
  </section>
  {{/inline}}

  {{> content id="when-you-call"}}
