{{#*inline "content"}}
  <section id="{{id}}"
           class="{{id}}">
    <div id="{{id}}-slick"
         class="{{id}}__slick"
         data-slick>
      {{#each slider-images}}
        <img class="{{../id}}__slide"
             data-interchange="{{#each @root.site.imgSizes}}[{{root}}assets/img/facility-slider/{{../filename}}-{{this}}.{{../extension}}, {{this}}]{{/each}}"
      
             alt="{{alt}}"
             data-open="{{../id}}-reveal-{{@index}}"
             data-ga-event
             data-ga-category="{{../id}}"
             data-ga-action="enlarge image"
             data-ga-label="{{alt}}" />
      {{/each}}
    </div>
  </section>
  {{#each slider-images}}
    <div class="{{../id}}__modal reveal"
         id="{{../id}}-reveal-{{@index}}"
         data-reveal>
      <div class="{{../id}}__modal-frame">
        <div class="{{../id}}__modal-content">
          <img src="assets/img/facility-slider/{{filename}}.{{extension}}" />
          <button class="close-button {{../id}}__modal-close-button"
                  data-close
                  aria-label="close modal"
                  type="button">
            <span aria-hidden>&times;</span>
          </button>
        </div>
      </div>
    </div>
  {{/each}}

  {{/inline}}

  {{> content id="facility-slider"}}
