.facility-slider {
  background-color: get-color(background-dark);

  @include breakpoint(medium) {
    margin-bottom: $global-padding * 2;
  }

  &__slick {
    .slick-slide {
      margin: 0 1rem;
      position: relative;
      cursor: pointer;

      &:hover {
        &:after {
          transform: scale(1.3);
        }
      }

      &:after {
        $size: 20px;

        display: none;
        content: '';
        background: no-repeat center url(../img/icon/Plus.svg) $white;
        background-size: $size / 2;
        position: absolute;
        bottom: $global-padding;
        right: $global-padding;
        height: $size;
        width: $size;
        box-shadow: $card-shadow;
        border-radius: 50%;
        transition: transform 0.3s ease-out;
        pointer-events: none;

        @include breakpoint(medium) {
          display: block;
        }
      }
    }

    .slick-arrow {
      $border: 2px;
      $size: 30px - $border;

      background: secondary-gradient();
      border-radius: 50%;
      position: absolute;
      z-index: 100;
      top: 50%;
      bottom: 50%;
      margin: auto 0;
      height: $size;
      width: $size;

      &::before {
        display: block;
        top: $border;
        bottom: $border;
        left: $border;
        right: $border;
        position: absolute;
        border-radius: 50%;
        background: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        content: '';
        background: center/($size / 3.7) no-repeat url(../img/icon/Chevron.svg),
          $white;
      }
    }

    .slick-prev {
      left: $global-padding * 2;

      &::before {
        transform: rotate(180deg);
      }
    }

    .slick-next {
      right: $global-padding * 2;
    }
  }

  &__slide {
    position: relative;
    z-index: 0;
  }

  &__modal {
    @include modal();
  }
}
