.home-hero {
  $curve-extender: $global-padding * 25;
  $underlap: $global-padding * 3;
  overflow-x: hidden;

  &__frame {
    position: relative;
    padding-bottom: $underlap * 2;
    overflow: hidden;

    @include breakpoint(large) {
      padding-bottom: 0;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: - $curve-extender / 3;
      right: - $curve-extender / 3;
      bottom: $underlap;
      z-index: -10;
      opacity: 0.5;
      border-radius: 0 0 50% 50%;
      background: primary-gradient();

      @include breakpoint(large) {
        border-radius: 0 50% 50% 0;
        opacity: 1;
        bottom: - $curve-extender;
        top: - $curve-extender;
        left: 0;
        right: 45%;
      }

      @include breakpoint(xlarge) {
        right: 50%;
      }
    }
  }

  &__content {
    max-width: $global-width;
    margin: 0 auto;
    position: relative;
    padding: $global-padding * 2 $global-padding * 2;

    > *:not(:last-child) {
      margin-bottom: $global-padding * 1.5;
    }

    @include breakpoint(medium) {
      text-align: center;
      max-width: rem-calc(528);
      padding-left: 0;
      padding-right: 0;
    }

    @include breakpoint(large) {
      max-width: $global-width;
      margin: 0 auto;
      padding-left: $global-padding * 2;
      text-align: left;

      & > * {
        width: 50%;
        max-width: 528px;

        @include breakpoint(large) {
          max-width: 420px;
        }
      }
    }
  }

  &__title {
    @extend .h1;
    color: $white;

    @include breakpoint(medium) {
      font-size: rem-calc(30);
      line-height: (56 / 36);
    }

    @include breakpoint(large) {
      font-size: rem-calc(36);
    }
  }

  &__body {
    color: $white;

    & > * {
      line-height: (28 / 18);
    }

    @include breakpoint(medium only) {
      margin-left: $global-padding * 2;
      margin-right: $global-padding * 2;
    }

    @include breakpoint(large) {
      margin-bottom: $global-padding * 3;
    }
  }

  &__buttons {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    @include breakpoint(medium) {
      flex-direction: row;

      > *:not(:last-child) {
        margin-right: $global-padding * 2;
      }
    }

    @include breakpoint(large) {
      justify-content: flex-start;
      > *:first-child {
        margin-left: 0;
      }
    }

    > * {
      margin-top: $global-padding;
      margin-bottom: $global-padding * 2;
    }
  }

  &__banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center bottom;

    &-container {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      z-index: -100;

      @include breakpoint(large) {
        width: 55%;
        right: 0;
      }
    }
  }
}
