.insurance-coverage {
  display: flex;
  justify-content: center;
  margin-top: $global-padding * 2;

  &__frame {
    display: flex;
    flex-flow: column nowrap;
    max-width: 100%;
    margin: 0 $global-padding * 2;

    @include breakpoint(medium) {
      flex-direction: row;
      justify-content: space-between;
    }

    @include breakpoint(large) {
      margin: $global-padding * 2;
      margin-bottom: 0;
    }

    @include breakpoint(xlarge) {
      max-width: $global-width - ($global-padding * 2);
    }
  }

  &__content {
    color: get-color(primary);
    flex: 1 1 auto;
    min-width: 250px;
    display: flex;
    max-width: 100%;
    flex-direction: column;
    align-items: flex-start;

    @include breakpoint(medium) {
      width: 50%;
      max-width: 305px;
      line-height: 28/16;
    }

    @include breakpoint(large) {
      max-width: 100%;
      margin-right: $global-padding * 4;
    }
  }

  &__title {
    @extend .h3;
    flex: 0 1 auto;
    max-width: 100%;
    padding-bottom: $global-padding;
    margin-bottom: $global-padding;
    border-bottom: solid 7px transparent;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      background-image: secondary-gradient();
      top: 100%;
      bottom: -7px;
      left: 0;
      right: - $global-padding * 2;
    }
  }

  &__body {
    max-width: 100%;
  }

  &__image-collection {
    margin-top: $global-padding * 2;
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: space-around;
    align-self: center;

    @include breakpoint(medium) {
      margin-top: 0;
      max-width: 50%;
      justify-content: flex-start;
      align-content: space-around;
      align-self: stretch;
    }

    @include breakpoint(large) {
      max-width: unset;
      justify-content: center;
    }
  }

  &__image-item {
    padding: $global-padding / 3;
    align-self: center;
    flex: 1 1 33%;
    max-width: 33%;

    @include breakpoint(large) {
      max-width: 25%;
      padding: $global-padding * 0.85;
    }
  }
}
