$parent-overlap: $global-padding * 4;
$parent-overlap-medium: $parent-overlap * 3;

.facility-slider {
  padding-bottom: $parent-overlap + ($global-padding * 2);

  @include breakpoint(medium) {
    padding-bottom: $parent-overlap-medium + ($global-padding * 2);
  }
}

.location-information {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  overflow: visible;
  margin-bottom: -$parent-overlap;

  @include breakpoint(medium) {
    margin-bottom: -$parent-overlap-medium;
  }

  &__frame {
    position: relative;
    top: -$parent-overlap;
    box-shadow: $card-shadow;
    margin: 0 $global-padding;
    background: get-color(background-light);
    border-radius: $global-radius;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    overflow: hidden;

    @include breakpoint(medium) {
      top: -$parent-overlap-medium;
      flex-flow: row wrap;
      margin: 0 $global-padding *2;
    }

    @include breakpoint(large) {
      max-width: $global-width - ($global-padding * 2);
      margin: 0 auto -$parent-overlap-medium;
    }
  }

  &__content {
    padding: $global-padding * 2;
    color: get-color(primary);

    @include breakpoint(medium) {
      flex: 1 1 auto;
      max-width: 50%;
    }

    @include breakpoint(large) {
      min-height: 431px;
      padding: $global-padding * 3;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: $global-padding * 2;
    font-size: rem-calc(22);

    @include breakpoint(medium) {
      text-align: left;
    }
  }

  &__body {
    color: get-color(primary);

    @include breakpoint(large) {
      font-size: rem-calc(18);
      // max-width: 300px;
    }
  }

  &__address {
    font-weight: $global-weight-bold;
    font-style: normal;
  }

  &__street-address,
  &__name {
    display: block;
  }

  &__map {
    min-height: 20rem;

    @include breakpoint(medium) {
      flex: 1 1 auto;
      min-width: 50%;
    }
  }

  &__banner-image {
    display: none;

    @include breakpoint(medium) {
      display: block;
    }
  }
}
