.our-mission {
  $offset-from-parent: 6rem;
  padding: $global-padding * 3 0 0;
  overflow: visible;
  display: flex;
  justify-content: center;

  &__frame {
    background: $white;
    overflow: hidden;
    border-radius: $card-border-radius;
    box-shadow: $card-shadow;
    max-width: $global-width;
    margin: 0 $global-padding;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    @include breakpoint(medium) {
      position: relative;
      flex-direction: row;
      margin-left: $global-padding * 2;
      margin-right: $global-padding * 2;
      margin-bottom: -$offset-from-parent;
      top: -$offset-from-parent;
      z-index: 10;
    }

    @include breakpoint(large) {
      min-height: 460px;
    }

    @include breakpoint(xlarge) {
      max-width: $global-width - ($global-padding * 2);
    }
  }

  &__slider,
  &__content {
    @include breakpoint(medium) {
      width: 50%;
    }
    @include breakpoint(large) {
      width: 55%;
    }
  }

  &__slider {
    position: relative;

    * {
      height: 100%;
      max-height: 300px;

      @include breakpoint(small) {
        max-height: 350px;
      }
      @include breakpoint(medium) {
        max-height: 425px;
      }
      @include breakpoint(large) {
        max-height: 475px;
      }
    }

    img {
      object-fit: cover;
    }

    .slick-dots {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      list-style: none;

      > li {
        height: 2rem;
        width: 2rem;
        display: flex;
        align-items: flex-start;
        justify-content: center;

        > button {
          cursor: pointer;
          height: 1rem;
          width: 1rem;
          color: transparent;
          border: 2px solid $white;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.22);
          border-radius: 50%;
          &:focus {
            outline: 0;
          }
        }

        &.slick-active > button {
          background: $white;
        }
      }
    }
  }

  &__content {
    padding: $global-padding * 2;
    background: get-color(background-light);
    color: get-color(primary);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;

    @include breakpoint(large) {
      padding: $global-padding * 3;
    }
  }

  &__title {
    font-size: rem-calc(24);
    margin-bottom: $global-padding;

    @include breakpoint(medium) {
      font-size: rem-calc(22);
      margin-bottom: $global-padding * 2;
    }
  }

  &__body {
    max-width: 100%;
    width: 100%;

    @include breakpoint(medium) {
      font-size: rem-calc(16);
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }
}
