.program-cards {
  background: get-color(background-dark);
  padding: $global-padding * 3 0 $global-padding * 3;

  @include breakpoint(small) {
    padding-bottom: $global-padding;
  }

  @include breakpoint(medium) {
    padding-bottom: $global-padding * 4;
  }

  &__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: $global-width;
    margin: 0 auto;
    padding: 0 $global-padding * 2;

    @include breakpoint(small) {
      padding: 0 $global-padding * 4;
    }

    @include breakpoint(large) {
      padding: 0 $global-padding * 2;
      flex-wrap: nowrap;
    }

    @include breakpoint(xlarge) {
      max-width: unset;
      padding: 0;
    }
  }

  &__item {
    @include card-container();
    $fancy-border-height: 6px;
    cursor: pointer;
    position: relative;
    z-index: 10;
    overflow: visible;
    border: 1px solid $white;
    border-radius: $global-radius $global-radius 0 0;
    min-height: rem-calc(248);
    width: rem-calc(297);
    flex: 1 0 auto;
    margin-bottom: $global-padding * 2;
    transition: transform 0.3s ease-in;

    &:hover {
      transform: scale(1.03);
    }

    &:not(:last-child) {
      margin-bottom: $global-padding * 3;
    }

    &:nth-child(2n + 1) {
      @include breakpoint(medium) {
        margin-right: $global-padding * 3;
      }
    }

    @include breakpoint(small) {
      max-width: 288px;
    }

    @include breakpoint(large) {
      flex: 1 1 auto;
      &:not(:last-child) {
        margin-right: $global-padding;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: -1px;
      right: -1px;
      bottom: - $fancy-border-height;
      border-radius: 0 0 $global-radius $global-radius;
      background: secondary-gradient();
      z-index: -10;
    }
  }

  &__content {
    @include card-section();
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: $global-padding * 3;
    z-index: 0;
    background: $white;

    @include breakpoint(small) {
      justify-content: center;
    }

    @include breakpoint(large) {
      padding: $global-padding * 2;
      padding-right: $global-padding;
    }
  }

  &__title {
    font-size: rem-calc(28);
    white-space: pre-line;
    color: get-color(primary);

    @include breakpoint(small) {
      font-size: rem-calc(26);
      margin-bottom: $global-padding * 2;
    }

    @include breakpoint(large) {
    }
  }

  &__button {
    font-size: rem-calc(18);
    margin-top: $global-padding * 2;
    color: get-color(background-dark);
    position: relative;

    &::after {
      content: '';
      background: no-repeat center/60% url(../img/icon/Plus.svg);
      position: absolute;
      cursor: pointer;
      top: -2px;
      height: 20px;
      width: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      right: -30px;
      box-shadow: $card-shadow, -1px -1px 3px $light-gray;
      color: get-color(primary);
      border-radius: 50%;
    }
  }

  &__modal {
    @include modal();
  }
}
