.treatment-services {
  margin-top: $global-padding * 2;

  @include hero-card(
    $background-color: get-color(background-dark),
    $overlap-parent: $global-padding * 4
  );

  #treatment-services-card-1 &-card__image {
    object-position: center -100px;

    @include breakpoint(large) {
      object-position: center;
    }
  }

  #treatment-services-card-1 &-card__image {
    object-position: center -50px;
    @include breakpoint(large) {
      object-position: center;
    }
  }
}
