.we-are-here-to-help {
  background-color: get-color(background-dark);
  display: flex;
  justify-content: center;

  &__frame {
    position: relative;
    margin: $global-padding * 1.5 $global-padding;
    z-index: 0;

    .privacy-policy{
      padding-top: $global-padding * 2;
      text-align: center;
      color: white;

      a{
        color: white;
        text-decoration: underline;
      }//end a
    }//end privacy policy

    &:before {
      content: '';
      background: secondary-gradient();
      position: absolute;
      border-radius: $global-radius $global-radius 0 0;
      top: -7px;
      left: 0;
      right: 0;
      bottom: 100%;
      z-index: -1;
    }

    @include breakpoint(medium) {
      width: 100%;
      margin: $global-padding * 2 $global-padding * 3;
    }

    @include breakpoint(xlarge) {
      width: $global-width - ($global-padding * 2);
    }
  }

  &__content {
    display: flex;
    border-radius: 0 0 $global-radius $global-radius;
    flex-flow: column nowrap;
    align-items: center;
    padding: $global-padding * 2;
    background: get-color(background-light);

    @include breakpoint(medium) {
      text-align: center;
      padding: $global-padding * 2 $global-padding * 5;
    }

    > * {
      max-width: 760px;
    }
  }

  &__title {
    margin-bottom: $global-padding * 2;
    font-size: rem-calc(26);
  }

  &__body {
    margin-bottom: $global-padding;
    font-size: rem-calc(18);
    color: get-color(primary);

    @include breakpoint(medium) {
      font-size: rem-calc(16);
      max-width: 588px;
    }
  }

  &__buttons {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    z-index: 0;

    @include breakpoint(medium) {
      margin-top: $global-padding * 2;
      flex-direction: row;
      justify-content: center;
    }
  }

  &__button {
    &--bigPhone {
      color: $white;
      font-size: rem-calc(36);
      font-weight: $global-weight-bold;
      background: secondary-gradient();
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: $global-padding * 2;

      @include breakpoint(medium) {
        margin-bottom: 0;
        margin-right: $global-padding * 4;
      }
    }
  }
}
