.when-you-call {
  margin: $global-padding * 3 $global-padding * 2 $global-padding * 2;

  @include breakpoint(large) {
    margin-top: $global-padding * 5;
    margin-bottom: $global-padding * 4;
  }

  &__content {
    color: get-color(primary);

    @include breakpoint(medium) {
      column-count: 2;
      column-gap: $global-padding * 3;
    }

    @include breakpoint(large) {
      max-width: $global-width;
      margin: 0 auto;
      padding: 0 $global-padding * 2;
      column-gap: $global-padding * 10;
      font-size: rem-calc(18);
    }

    @include breakpoint(xlarge) {
      padding: 0 $global-padding * 3;
    }

    p {
      line-height: $global-lineheight + 0.4;
    }
  }

  &__title {
    font-size: rem-calc(22);
    display: inline-block;
    padding-bottom: $global-padding;
    margin-bottom: $global-padding;
    max-width: 150px;
    position: relative;
    border-bottom: solid 7px transparent;

    &:after {
      content: '';
      position: absolute;
      top: 100%;
      bottom: -7px;
      left: 0;
      right: 0;
      background-image: secondary-gradient();
    }
  }

  &__lead {
    font-size: rem-calc(22);
    margin: $global-padding * 2 0 $global-padding;

    @include breakpoint(large) {
      margin-top: $global-padding * 4;
    }
  }

  &__list {
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;

    > *:not(:last-child) {
      margin-bottom: $global-padding;
    }
  }
}
